# Виртуальная среда
env/
venv/

# Файлы базы данных
*.sqlite3
*.db

# Логи
*.log

# Компилированные Python файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Каталоги IDE
.idea/
.vscode/

# Файлы конфигурации среды
.env

# Файлы, созданные тестами
*.pot
*.mo

# Папки с временными файлами
*.bak
*.swp
